.nav {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    opacity: 0.7;
}

.nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}

header {
    
    /*Sizing of the element*/
    height: 500px;
    width: 100%;
    
    
    /*Set and adjust background image*/
    background-image: url("header.jpg");
    background-size: cover;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Playfair Display', serif;

}

header description {
    font-family: 'Roboto', sans-serif;
}

.books img {
    font-size:30px;
    width: 200px;
    padding:25px 20px;
}